<!DOCTYPE html>
<html ng-app="ViettelApp">
    <head>
        <title>DMS PLUS</title>
        <meta charset="UTF-8">
        <meta name="DMS" content="width=device-width, initial-scale=1.0" >
        <meta name="description" content="DMS System By Viettel" />
        <meta name="author" content="Technical and Technology Department - Technical and Technology Department - Information Technology and Telecommunication Solution Center - Viettel Group" />

        <!--
            IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
            For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
        -->
        <!--[if lt IE 9]>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script>
                document.createElement('ui-select');
                document.createElement('ui-select-match');
                document.createElement('ui-select-choices');
            </script>
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--[if IE 8]>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="font-icon/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="font-icon/weather-icons/css/weather-icons.min.css" />
        <link rel="stylesheet" href="styles/main.css" />

        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
        <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
        <link rel="stylesheet" href="bower_components/angular-dialog-service/dialogs.min.css" />
        <link rel="stylesheet" href="bower_components/angular-scrollable-table/scrollable-table.css" />
        <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.min.css" />

    </head>
    <body ng-controller="BodyCtrl" id="app" data-custom-background="">
        <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-ng-if="$root.isNoAuthPage() || $root.tokenVerified">
            <div data-ng-hide="$root.isFullScreenPage()" data-ng-cloak class="no-print">
                <section data-ng-include=" 'template/header.html' " id="header" class="top-header"></section>

                <aside data-ng-include=" 'template/nav.html' " id="nav-container"></aside>
            </div>

            <div class="view-container">
                <section ui-view="" id="content" class="animate-fade-up"></section>
            </div>
        </div>

        <div class="page-loading-overlay" data-ng-if="!(($root.isNoAuthPage() || $root.tokenVerified) && $root.loaded)">
            <div class="loader-2"></div>
        </div>



        <!-- Bootstrap core JavaScript -->
        <!-- ================================================== -->
        <!-- jquery -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.js"></script>

        <!-- bootstrap -->
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- UnderscoreJS -->
        <!--<script src="bower_components/underscore/underscore.js"></script>-->
        <script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>

        <!--Angular-->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script type="text/javascript" src="bower_components/ng-idle/angular-idle.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-fcsa-number/src/fcsaNumber.min.js"></script>

        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
        <script type="text/javascript" src="bower_components/angular-moment/angular-moment.min.js"></script>

        <script type="text/javascript" src="bower_components/angular-carousel/dist/angular-carousel.min.js"></script>

        <script type="text/javascript" src="bower_components/sockjs-client/dist/sockjs.js"></script>
        <script type="text/javascript" src="bower_components/stomp-websocket/lib/stomp.js"></script>

        <!--toastr-->
        <script type="text/javascript" src="bower_components/toastr/toastr.js"></script>
        <!--ui-router-->
        <script type="text/javascript" src="lib/angular-ui-bootstrap/ui-bootstrap-0.12.0.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-select/dist/select.js"></script>

        <!--tree-->
        <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>

        <!--pdf viewer-->
        <script type="text/javascript" src="bower_components/ng-pdfviewer/lib/pdf.js"></script>
        <script type="text/javascript" src="bower_components/ng-pdfviewer/ng-pdfviewer.js"></script>

        <!--dialog-->
        <script type="text/javascript" src="bower_components/angular-dialog-service/dialogs.min.js"></script>

        <!--scrollable table-->
        <script type="text/javascript" src="bower_components/angular-scrollable-table/angular-scrollable-table.min.js"></script>

        <!--flot-->
        <script type="text/javascript" src="bower_components/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="bower_components/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="bower_components/flot/jquery.flot.stack.js"></script>
        <script type="text/javascript" src="bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

        <!--morris-->
        <script src="bower_components/raphael/raphael-min.js"></script>
        <script src="bower_components/morris.js/morris.js"></script>

        <!-- angular-google-maps -->
        <script type="text/javascript" src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=vi&libraries=places,drawing,geometry,visualization"></script>
        
        <!-- Customized -->
        <script type="text/javascript" src="lib/angular-file-upload/angular-file-upload.js"></script>

        <!--util-->
        <script type="text/javascript" src="js/angular-util/angular-util.js"></script>
        <script type="text/javascript" src="js/login/base64.js"></script>
        <script type="text/javascript" src="js/login/vtToken.js"></script>
        <script type="text/javascript" src="js/util/table-ctrl.js"></script>
        <script type="text/javascript" src="js/logger/logger.js"></script>
        <script type="text/javascript" src="js/vt-push/vt-push-1.0.js"></script>
        <script type="text/javascript" src="js/util/category-list-ctrl-util.js"></script>
        <script type="text/javascript" src="js/util/category-detail-popup-ctrl-util.js"></script>

        <!--My App JS-->
        <script type="text/javascript" src="mvc/common.js"></script>

        <!-- Filter -->
        <script type="text/javascript" src="js/filter.js"></script>

        <!-- Directive -->
        <script type="text/javascript" src="directive/vt-radio.js"></script>
        <script type="text/javascript" src="directive/vt-checkbox.js"></script>
        <script type="text/javascript" src="directive/vt-checkbox-tri-state.js"></script>
        <script type="text/javascript" src="directive/vt-search-box.js"></script>
        <script type="text/javascript" src="directive/vt-file-manager.js"></script>
        <script type="text/javascript" src="directive/vt-report.js"></script>
        <script type="text/javascript" src="directive/ngMenu.js"></script>
        <script type="text/javascript" src="directive/ngEnter.js"></script>
        <script type="text/javascript" src="directive/ngFocusElement.js"></script>
        <script type="text/javascript" src="directive/squareDirective.js"></script>

        <!-- Controller -->
        <!-- Common -->
        <script type="text/javascript" src="mvc/controller/common/body-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/timeout-warn-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/lang-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/category-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/category-detail-popup-ctrl.js"></script>

        <!-- SuperAdmin -->
        <script type="text/javascript" src="mvc/controller/superadmin/client-config-ctrl.js"></script>

        <!-- Admin -->
        <script type="text/javascript" src="mvc/controller/admin/homepage-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/user-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/user-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/sales-config-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/calendar-config-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/product-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/customer-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/customer-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/distributor-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-question-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-category-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-type-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/dashboard-visit-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/dashboard-visit-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/visit-tracking-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-sales-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-sales-report-daily-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-sales-report-distributor-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-sales-report-product-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-sales-report-salesman-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-visit-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/admin-visit-report-detail-ctrl.js"></script>

        <!-- Supervisor -->
        <!-- Homepage ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/homepage-ctrl.js"></script>
        <!-- Target ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/target-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/target-detail-popup-ctrl.js"></script>
        <!-- Customers ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/customer-create-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/customer-approve-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/customer-approve-detail-ctrl.js"></script>
        <!-- Dashboard Visit ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/dashboard-visit-ctrl.js"></script>
        <!-- Dashboard Visit ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/dashboard-visit-detail-ctrl.js"></script>
        <!-- User Visit Schedule -->
        <script type="text/javascript" src="mvc/controller/supervisor/visit-schedule-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/visit-schedule-popup-ctrl.js"></script>
        <!-- Visit tracking ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/visit-tracking-ctrl.js"></script>
        <!-- Orders ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/order-approve-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/order-approve-detail-ctrl.js"></script>
        <!-- Report Salesman-Sale Monthly (Supervisor) ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/report-sale-salesman-monthly-ctrl.js"></script>
        <!-- Report Salesman-Sale Monthly Detail (Supervisor) ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/report-sale-salesman-monthly-detail-ctrl.js"></script>
        <!-- Report Visit Monthly (Supervisor) ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/report-visit-monthly-ctrl.js"></script>
        <!-- Report Visit Monthly Detail(Supervisor) ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/report-visit-monthly-detail-ctrl.js"></script>
        <!-- Feedback List ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/feedback-list-ctrl.js"></script>
        <!-- Feedback Detail ctrl -->
        <script type="text/javascript" src="mvc/controller/supervisor/feedback-detail-ctrl.js"></script>
        <!-- End Supervisor -->

        <!--REPORT-->
        <script type="text/javascript" src="mvc/controller/report/report-survey-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-survey-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-exhibition-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-exhibition-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/order-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/order-detail-ctrl.js"></script>
        <!--******-->

        <!--Header Ctrl-->
        <script type="text/javascript" src="mvc/controller/header-controller.js"></script>
        <!-- end controller -->

        <!-- factory -->
        <script type="text/javascript" src="mvc/factory/factory.js"></script>
        <!-- end factory -->
    </body>
</html>
