<div id="nav-wrapper">
    <ul id="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <!-- ***** SUPERADMIN ***** -->
        <li ng-show="isRole('SUPER')">
            <a href="javascript:;"><i class="fa fa-cogs"></i><span> {{ 'menu.config' | translate }} </span></a>
            <ul>
                <li><a href="#/client"><i class="fa fa-caret-right"></i><span> {{ 'menu.client' | translate }} </span></a></li>
                <li><a href="#/clientconfig"><i class="fa fa-caret-right"></i><span> {{ 'menu.client.config' | translate }} </span></a></li>
            </ul>
        </li>

        <!-- ***** ADMIN ***** -->
        <li ng-show="isRole('AD')"><a href="#/homepage/admin"><i class="fa fa-dashboard"></i><span> {{ 'menu.homepage' | translate }} </span></a></li>
        <li ng-show="isRole('AD')">
            <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span> {{ 'menu.system' | translate }} </span></a>
            <ul>
                <li><a href="#/user"><i class="fa fa-caret-right"></i><span> {{ 'menu.user' | translate }} </span></a></li>
                <li><a href="#/salesconfig"><i class="fa fa-caret-right"></i><span> {{ 'menu.sales.config' | translate }} </span></a></li>
                <li><a href="#/calendarconfig"><i class="fa fa-caret-right"></i><span> {{ 'menu.calendar.config' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('AD')">
            <a href="javascript:void(0);"><i class="fa fa-th-list"></i><span> {{ 'menu.category' | translate }} </span></a>
            <ul>
                <li><a href="#/uom"><i class="fa fa-caret-right"></i><span> {{ 'menu.uom' | translate }} </span></a></li>
                <li><a href="#/productcategory"><i class="fa fa-caret-right"></i><span> {{ 'menu.product.category' | translate }} </span></a></li>
                <li><a href="#/product"><i class="fa fa-caret-right"></i><span> {{ 'menu.product' | translate }} </span></a></li>
                <li><a href="#/customertype"><i class="fa fa-caret-right"></i><span> {{ 'menu.customer.type' | translate }} </span></a></li>
                <li><a href="#/customer"><i class="fa fa-caret-right"></i><span> {{ 'menu.customer' | translate }} </span></a></li>
                <li><a href="#/distributor"><i class="fa fa-caret-right"></i><span> {{ 'menu.distributor' | translate }} </span></a></li>
                <li><a href="#/promotion"><i class="fa fa-caret-right"></i><span> {{ 'menu.promotion' | translate }} </span></a></li>
                <li><a href="#/survey"><i class="fa fa-caret-right"></i><span> {{ 'menu.survey' | translate }} </span></a></li>
                <li><a href="#/exhibition"><i class="fa fa-caret-right"></i><span> {{ 'menu.exhibition' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('AD')">
            <a href="#/admin-order-list"><i class="fa fa-truck"></i><span> {{ 'menu.order' | translate }} </span></a>
        </li>
        <li ng-show="isRole('AD')">
            <a href="javascript:void(0)"><i class="fa fa-user-secret"></i><span> {{ 'menu.supervise' | translate }} </span></a>
            <ul>
                <li><a href="#/admin/dashboard/visit"><i class="fa fa-street-view"></i><span> {{ 'menu.supervise.visit' | translate }} </span></a></li>
                <li><a href="#/admin-visit-tracking"><i class="fa fa-map-marker"></i><span> {{ 'menu.supervise.tracking' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('AD')">
            <a href="javascript:void(0)"><i class="fa fa-clipboard"></i><span> {{ 'menu.admin.report' | translate }} </span></a>
            <ul>
                <li><a href="#/admin/sales/report"><i class="fa fa-shopping-cart"></i><span> {{ 'menu.admin.sales.report' | translate }} </span></a></li>
                <li><a href="#/admin/report/visit"><i class="fa fa-suitcase"></i><span> {{ 'menu.report.visit.monthly' | translate }} </span></a></li>
                <li><a href="#/admin-report-survey"><i class="fa fa-shield"></i><span> {{ 'menu.survey' | translate }} </span></a></li>
                <li><a href="#/admin-report-exhibition"><i class="fa fa-thumbs-up"></i><span> {{ 'menu.exhibition' | translate }} </span></a></li>
            </ul>
        </li>

        <!-- ***** SUPERVISOR ***** -->
        <li ng-show="isRole('SUP')"><a href="#/homepage/supervisor"><i class="fa fa-dashboard"></i><span> {{ 'menu.homepage' | translate }} </span></a></li>
        <li ng-show="isRole('SUP')">
            <a href="javascript:void(0)"><i class="fa fa-cubes"></i><span> {{ 'menu.plan' | translate }} </span></a>
            <ul>
                <li><a href="#/visitschedule"><i class="fa fa-code-fork"></i><span> {{ 'menu.plan.schedule' | translate }} </span></a></li>
                <li><a href="#/target"><i class="fa fa-pie-chart"></i><span> {{ 'menu.plan.target' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('SUP')">
            <a href="javascript:void(0)"><i class="fa fa-users"></i><span> {{ 'menu.customer' | translate }} </span></a>
            <ul>
                <li><a href="#/customer-create"><i class="fa fa-user-plus"></i><span> {{ 'menu.customer.create' | translate }} </span></a></li>
                <li><a href="#/customer-approve"><i class="fa fa-gavel"></i><span> {{ 'menu.customer.approve' | translate }} </span></a></li>
                <li><a href="#/feedback"><i class="fa fa-comments"></i><span> {{ 'menu.customer.feedback' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('SUP')">
            <a href="javascript:void(0)"><i class="fa fa-truck"></i><span> {{ 'menu.order' | translate }} </span></a>
            <ul>
                <li><a href="#/orders-approve"><i class="fa fa-gavel"></i><span> {{ 'menu.order.approve' | translate }} </span></a></li>
                <li><a href="#/supervisor-order-list"><i class="fa fa-folder-open"></i><span> {{ 'menu.order.list' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('SUP')">
            <a href="javascript:void(0)"><i class="fa fa-user-secret"></i><span> {{ 'menu.supervise' | translate }} </span></a>
            <ul>
                <li><a href="#/dashboard/visit"><i class="fa fa-street-view"></i><span> {{ 'menu.supervise.visit' | translate }} </span></a></li>
                <li><a href="#/visit-tracking"><i class="fa fa-map-marker"></i><span> {{ 'menu.supervise.tracking' | translate }} </span></a></li>
            </ul>
        </li>
        <li ng-show="isRole('SUP')">
            <a href="javascript:void(0)"><i class="fa fa-clipboard"></i><span> {{ 'menu.report' | translate }} </span></a>
            <ul>
                <li><a href="#/report/sale/salesman/monthly"><i class="fa fa-shopping-cart"></i><span> {{ 'menu.report.sale.monthly' | translate }} </span></a></li>
                <li><a href="#/report/visit/monthly"><i class="fa fa-suitcase"></i><span> {{ 'menu.report.visit.monthly' | translate }} </span></a></li>
                <li><a href="#/supervisor-report-survey"><i class="fa fa-shield"></i><span> {{ 'menu.survey' | translate }} </span></a></li>
                <li><a href="#/supervisor-report-exhibition"><i class="fa fa-thumbs-up"></i><span> {{ 'menu.exhibition' | translate }} </span></a></li>
            </ul>
        </li>

    </ul>
</div>