.file-input-wrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 99;
  outline: 0;

  width: 100%;
  height: 100%;
}

.file-input-name {
  margin-left: 8px;
}

.file-input-image-thumbnail {
  .file-input-action-bar {
    width: 150px;
    height: 30px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
  }

  .file-input-preview {
    border: 1px solid @input-border;
    width: 150px;
    height: 150px;

    .fa {
      line-height: 148px;
      font-size: 100px;
      width: 148px;
      text-align: center;
    }

    img {
      width: 148px;
      height: 148px;
    }

  }
}

.file-input-image-medium {
  .file-input-action-bar {
    width: 300px;
    height: 30px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
  }

  .file-input-preview {
    border: 1px solid @input-border;
    width: 300px;
    height: 300px;

    .fa {
      line-height: 298px;
      font-size: 200px;
      width: 298px;
      text-align: center;
    }

    img {
      width: 298px;
      height: 298px;
    }
  }
}

.file-input-image-standard {
  .file-input-action-bar {
    width: 450px;
    height: 30px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
  }

  .file-input-preview {
    border: 1px solid @input-border;
    width: 450px;
    height: 450px;

    .fa {
      line-height: 448px;
      font-size: 300px;
      width: 448px;
      text-align: center;
    }

    img {
      width: 448px;
      height: 448px;
    }
  }
}