<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;"
           ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button type="button" class="btn btn-primary" ng-click="createRecord()">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <vt-search-box ng-model="searchText" ng-change="refresh()" vt-place-holder="{{ 'search' | translate }}"></vt-search-box>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr class="no-margin">
            </div>
        </div>

        <table class="table table-middle">
            <thead>
            <tr>
                <td ng-repeat="column in columns">
                    {{ column.header | translate }}
                </td>
                <td style="width: 100px"></td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="record in records">
                <td ng-repeat="column in columns" ng-class="column.class">
                    {{ getPropertyValue(column, record) }}
                </td>
                <td style="text-align: center">
                    <button class="btn btn-danger btn-icon-xs" ng-click="deleteRecord(record)" ng-if="record.draft">
                        <span class="fa fa-remove"></span>
                    </button>

                    <button class="btn btn-info btn-icon-xs" ng-click="editRecord(record)">
                        <span class="fa fa-pencil"></span>
                    </button>

                    <button class="btn btn-primary btn-icon-xs" ng-click="enableRecord(record)" ng-if="record.draft">
                        <span class="fa fa-check"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="records.length == 0">
                <td colspan=" {{ 2 + columns.length }} ">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true"
                                total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage"
                                ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="refresh()" style="float: right"></pagination>
                </div>
            </div>
        </footer>

    </section>
</div>
