<div class="page page-profile">
    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'order.list.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{ 'order.list.search.start.date' |  translate }}</label>
                        <div class="input-group ui-datepicker">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{ format }}"
                                   ng-model="global.fromDate"
                                   is-open="fromDateOpened"
                                   datepicker-options="dateOptions"
                                   current-text="{{'date.picker.today' | translate}}"
                                   clear-text="{{'date.picker.clear' | translate}}"
                                   close-text="{{'date.picker.close' | translate}}">
                                <span class="input-group-addon" ng-click="openStart($event)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'order.list.search.end.date' |  translate }}</label>
                    <div class="input-group ui-datepicker">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{ format }}"
                               ng-model="global.toDate"
                               is-open="toDateOpened"
                               datepicker-options="dateOptions"
                               current-text="{{'date.picker.today' | translate}}"
                               clear-text="{{'date.picker.clear' | translate}}"
                               close-text="{{'date.picker.close' | translate}}">
                                <span class="input-group-addon" ng-click="openEnd($event)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{ 'order.list.search.distributor' |  translate }}</label>
                        <ui-select ng-model="global.distributorId" on-select="onDistributorSelected($item)">
                            <ui-select-match placeholder="--">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="data.id as data in distributors | propsFilter: {name: $select.search}">
                                <div> {{ data.name }} </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pull-right">
                    <button type="submit" class="btn btn-primary pull-right" ng-click="search()">
                        <span class="fa fa-search"></span> {{ 'search' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </section>


    <section class="panel panel-default">
        <table class="table table-middle">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    {{ 'order.list.header.date' | translate }}
                </th>
                <th>
                    {{ 'order.list.header.code' | translate }}
                </th>
                <th>
                    {{ 'order.list.header.distributor' | translate }}
                </th>
                <th>
                    {{ 'order.list.header.customer' | translate }}
                </th>
                <th>
                    {{ 'order.list.header.salesman' | translate }}
                </th>
                <th class="text-right">
                    <div>{{ 'order.list.header.grand.total' | translate }}</div>
                </th>
                <th>
                </th>
            </tr>
            </thead>

            <tbody ng-if="records.length > 0">
            <tr ng-repeat="record in records track by $index">
                <td>
                    {{ (currentPage - 1) * itemsPerPage + $index + 1}}
                </td>
                <td>
                    {{ record.createdTime | user_date_format }}
                </td>
                <td>
                    {{ record.code }}
                </td>
                <td>
                    {{ record.distributor.name }}
                </td>
                <td>
                    {{ record.customer.name }}
                </td>
                <td>
                    {{ record.salesman.fullname }}
                </td>
                <td class="text-right" nowrap>
                    {{ record.grandTotal | number:0 }}
                </td>
                <td class="text-right">
                    <a ng-href="{{ getDetailLink(record) }}" style="text-decoration: none;">
                        <span class="label label-info">{{ 'order.list.header.action.view' | translate }}</span>
                    </a>
                </td>
            </tr>
            </tbody>

            <tbody ng-if="records.length == 0">
            <tr>
                <td colspan="8">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right"
                                boundary-links="true" total-items="totalItems"
                                max-size="maxSize" items-per-page="itemsPerPage" ng-model="currentPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="pageChanged()" style="float: right"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>