<div class="page page-invoice">
    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-12 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-default" ng-click="printInvoice()">
                <span class="fa fa-print"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default"
             data-ng-include=" 'mvc/view/template/purchase-order-view.html' ">
    </section>
</div>