<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ 'report.exhibition.detail.title' | translate:'{name: record.name}'}} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'back' | translate }}-->
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
                <!--{{ 'refresh' |  translate }}-->
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4> {{ 'report.exhibition.detail.time' | translate:'{time: record.time}' }} </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

    <div class="row" ng-if="charts.length > 0">
        <div class="col-md-6" ng-repeat="chart in charts track by $index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ chart.title }}</h3>
                </div>
                <div class="panel-body">
                    <div flot-chart
                         data="chart.data"
                         options="chart.options"
                         style="width: 100%; height: 300px;"
                            ></div>
                </div>
            </div>
        </div>
    </div>

</div>
