<div class="page page-profile">
    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'report.exhibition.list.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default">
        <table class="table table-middle">
            <thead>
            <tr>
                <th class="text-center">
                    #
                </th>
                <th>
                    {{ 'report.exhibition.list.header.name' | translate }}
                </th>
                <th>
                    {{ 'report.exhibition.list.header.date' | translate }}
                </th>
                <th class="text-center">
                    {{ 'report.exhibition.list.header.status' | translate }}
                </th>
                <th></th>
            </tr>
            </thead>

            <tbody ng-if="tableCtrl.records.length > 0">
            <tr ng-repeat="record in tableCtrl.records track by $index">
                <td class="text-center">
                    {{ (currentPage - 1) * itemsPerPage + $index + 1}}
                </td>
                <td>
                    {{ record.name }}
                </td>
                <td>
                    {{ record.startDate | user_date_format }} - {{ record.endDate | user_date_format }}
                </td>
                <td class="text-center">
                                <span class="label label-warning" ng-if="record.status == 0">
                                    {{ 'report.exhibition.list.header.status.not.started' | translate }}
                                </span>
                                <span class="label label-info" ng-if="record.status == 1">
                                    {{ 'report.exhibition.list.header.status.in.progress' | translate }}
                                </span>
                                <span class="label label-success" ng-if="record.status == 2">
                                    {{ 'report.exhibition.list.header.status.ended' | translate }}
                                </span>
                </td>
                <td class="text-center">
                    <button class="btn btn-success btn-icon-xs" ng-click="export(record)">
                        <span class="fa fa-file-excel-o"></span>
                    </button>

                    <button class="btn btn-info btn-icon-xs" ng-click="viewDetail(record)">
                        <span class="fa fa-pie-chart"></span>
                    </button>
                </td>
            </tr>
            </tbody>

            <tbody ng-if="tableCtrl.records.length == 0">
            <tr>
                <td colspan="6">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true" total-items="totalItems" max-size="maxSize"
                                items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="tableCtrl.pageChanged()"></pagination>
                </div>
            </div>
        </footer>

    </section>
</div>