<div class="drop-box" nv-file-over="" nv-file-drop uploader="uploader" over-class="drop-box-over">
    <div class="file-input-wrapper btn btn-default btn-primary btn-block">
        <span>Choose File</span>
        <input type="file" title="Choose File" nv-file-select="" uploader="uploader" multiple>
    </div>
    <div style="max-height: 134px; overflow-y: auto">
        <table class="table table-middle" style="margin-top: 10px; margin-bottom: 0px">
            <tbody>
            <tr ng-repeat="file in files" ng-if="!file.isNew">
                <td style="text-align: left">{{ file.name }}</td>
                <td style="width: 100px;">
                </td>
                <td style="text-align: right">
                    <a class="btn-icon btn-icon-sm btn-info" href="{{ getDownloadUrl(file) }}" target="_blank"><i class="fa fa-download"></i></a>
                    <a class="btn-icon btn-icon-sm btn-danger" ng-click="removeOldFile(file)"><i class="fa fa-close"></i></a>
                </td>
            </tr>
            <tr ng-repeat="file in uploader.queue">
                <td style="text-align: left">
                    {{ file.file.name }}
                </td>
                <td style="width: 100px;">
                    <progressbar class="progressbar-xs no-margin" value="file.progress" ng-hide="file.isUploaded"></progressbar>
                </td>
                <td style="text-align: right">
                    <a class="btn-icon btn-icon-sm btn-info" href="{{ getDownloadUrl(file) }}" target="_blank" ng-show="file.isUploaded && !file.isError"><i class="fa fa-download"></i></a>
                    <a class="btn-icon btn-icon-sm btn-warning" ng-show="file.isError && !file.isUploading" ng-click="file.upload()"><i class="fa fa-refresh"></i></a>
                    <a class="btn-icon btn-icon-sm btn-danger" ng-click="removeFile(file)"><i class="fa fa-close"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>