<div uploader="uploader" class="file-input-image-medium">
    <div class="file-input-action-bar">
        <div style="  display: inline-block; position: absolute; right: 32px; width: 30px; height: 30px;">
            <div class="file-input-wrapper btn-icon btn-icon-sm btn-primary">
                <i class="fa fa-plus"></i>
                <input type="file" title="Choose File" nv-file-select="" uploader="uploader" accept="image/jpeg, image/png">
            </div>
        </div>
        <a class="btn-icon btn-icon-sm btn-danger" ng-click="removeFile()">
            <i class="fa fa-remove"></i>
        </a>
    </div>

    <div class="file-input-preview" ng-if="getFile() == null">
        <span class="fa fa-camera"></span>
    </div>

    <div class="file-input-preview" ng-if="getFile() != null">
        <img ng-src="{{getLink()}}">
    </div>

</div>