<style>
    .angular-google-map-container {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 400px;
    }
</style>

<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px, height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-6">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-sm-6 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'cancel' | translate }}-->
            </button>

            <button class="btn btn-danger" ng-click="reject()">
                <span class="fa fa-close"></span>
                <!--{{ 'customer.approve.action.reject' | translate }}-->
            </button>

            <button class="btn btn-primary" ng-click="approve()">
                <span class="fa fa-check"></span>
                <!--{{ 'customer.approve.action.approve' | translate }}-->
            </button>
        </div>
    </div>


    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.distributor.name" ng-readonly="true"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.type' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.customerType.name" ng-readonly="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.name' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.name" ng-readonly="true"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.mobile' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.mobile" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.contact' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.contact" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.phone' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.phone" ng-readonly="true" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.email' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.email" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.address' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.address" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.longitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.longitude" ng-readonly="true"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.latitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.latitude" ng-readonly="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12" ng-if="record.photo != null">
                        <div class="form-group">
                            <label>{{ 'customer.photo' | translate }}</label><br />
                            <img ng-src="{{ record.photo }}" style="width: 200px; height: 150px" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </form>
        </div>

        <!--<div class="padding-default no-top">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12" style="text-align: right;">-->
                    <!--<button class="btn btn-warning" ng-click="cancel()">-->
                        <!--<span class="fa fa-arrow-left"></span> {{ 'cancel' | translate }}-->
                    <!--</button>-->

                    <!--<button class="btn btn-danger" ng-click="reject()">-->
                        <!--<span class="fa fa-close"></span> {{ 'customer.approve.action.reject' | translate }}-->
                    <!--</button>-->

                    <!--<button class="btn btn-primary" ng-click="approve()">-->
                        <!--<span class="fa fa-check"></span> {{ 'customer.approve.action.approve' | translate }}-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </section>
</div>
