<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'dashboard.visit.detail.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'back' | translate }}-->
            </button>

            <button type="button" class="btn btn-default" ng-click="printInvoice()" ng-if="data.hasOrder">
                <span class="fa fa-print"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
                <!--{{ 'refresh' | translate }}-->
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <h3>{{ data.customer.name }}</h3>

                    <p>{{ data.customer.customerType.name }}</p>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="icon glyphicon glyphicon-home"></span>
                            <label>{{ 'dashboard.visit.detail.address' | translate }}</label>
                            {{ data.customer.address }}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-envelope"></span>
                            <label>{{ 'dashboard.visit.detail.email' | translate }}</label>
                            {{ data.customer.email }}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-phone"></span>
                            <label>{{ 'dashboard.visit.detail.mobile' | translate }}</label>
                            {{ data.customer.mobile }}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-earphone"></span>
                            <label>{{ 'dashboard.visit.detail.phone' | translate }}</label>
                            {{ data.customer.phone }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="ui-tab-container">
                    <tabset class="ui-tab">
                        <tab heading="{{ 'dashboard.visit.detail.general.info' | translate }}">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge badge-info" ng-if="!data.closed"> {{ 'dashboard.visit.detail.status.normal' | translate }} </span>
                                    <span class="badge badge-danger" ng-if="data.closed"> {{ 'dashboard.visit.detail.status.closed' | translate }} </span>
                                    <i class="fa fa-lightbulb-o" style="width: 20px"></i>
                                    {{ 'dashboard.visit.detail.status' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge"> {{ data.distributor.name }} </span>
                                    <i class="fa fa-shopping-cart" style="width: 20px"></i>
                                    {{ 'dashboard.visit.detail.distributor' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge"> {{ data.salesman.fullname }} </span>
                                    <i class="fa fa-user" style="width: 20px"></i>
                                    {{ 'dashboard.visit.detail.salesman' | translate }}
                                </li>
                                <li class="list-group-item" ng-if="!data.closed">

                                    <span ng-if="data.hasOrder && data.approveStatus == approveStatus.APPROVE_STATUS_APPROVED"
                                            class="badge badge-info"> {{ data.grandTotal | number }} </span>

                                    <span ng-if="data.hasOrder && data.approveStatus == approveStatus.APPROVE_STATUS_PENDING"
                                          class="badge badge-info"> {{ 'dashboard.visit.purchase.order.pending' | translate }} </span>

                                    <span ng-if="data.hasOrder && data.approveStatus == approveStatus.APPROVE_STATUS_REJECTED"
                                          class="badge badge-danger"> {{ 'dashboard.visit.purchase.order.rejected' | translate }} </span>

                                    <span ng-if="!data.hasOrder"
                                          class="badge badge-warning"> {{ 'dashboard.visit.no.purchase.order' | translate }} </span>

                                    <i class="fa fa-dollar" style="width: 20px"></i>
                                    {{ 'dashboard.visit.detail.purchase.order' | translate }}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-success"> {{ getVisitTime() }} </span>
                                    <i class="fa fa-clock-o" style="width: 20px"></i>
                                    {{ 'dashboard.visit.detail.time' | translate }}
                                </li>
                                <div style="width: 100%; text-align: center;" ng-if="data.closed">
                                    <button type="button" class="btn btn-info" ng-click="rotateRight()">
                                        <span class="fa fa-repeat"></span>
                                    </button>
                                    <button type="button" class="btn btn-info" ng-click="rotateLeft()">
                                        <span class="fa fa-undo"></span>
                                    </button>
                                </div>
                                <div class="thumbnail" ng-if="data.closed">
                                    <img ng-src="{{data.closingPhotoUrl}}" ng-class="getRotateClass()">
                                </div>
                            </ul>
                        </tab>
                        <tab heading="{{ 'dashboard.visit.detail.customer.feedback' | translate }}"
                             ng-if="!data.closed">
                            <div class="media" ng-if="(data.feedbacks == null || data.feedbacks.length == 0)">
                                <div class="media-body">
                                    <p> {{ 'dashboard.visit.detail.no.feedback' | translate }} </p>
                                </div>
                            </div>
                            <div class="media" ng-repeat="feedback in data.feedbacks track by $index"
                                 ng-if="(data.feedbacks != null && data.feedbacks.length > 0)">
                                <div class="media-body">
                                    <h4 class="media-heading"> {{ '#' + ($index + 1) }} </h4>

                                    <p>{{ feedback }}</p>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{ 'dashboard.visit.detail.purchase.order' | translate }}" ng-if="!data.closed && data.hasOrder">
                            <section data-ng-include=" 'mvc/view/template/purchase-order-view.html' "></section>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>

</div>
