<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row homepage-supervisor">
        <div class="dashboard-left col-md-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-info">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">{{ 'homepage.supervisor.purchase.order' | translate }} / {{ 'homepage.supervisor.day' | translate }}</p>

                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.orderByDayThisMonth, data.orderByDayLastMonth)"></i>
                                <label class="size-h1 mg_left_10">{{ data.orderByDayThisMonth }}</label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.supervisor.last.month' | translate }} <label class="size-h3">{{
                                data.orderByDayLastMonth }}</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-success">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">{{ 'homepage.supervisor.revenue' | translate }} / {{
                                'homepage.supervisor.purchase.order' | translate }}</p>

                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.revenueByOrderThisMonth, data.revenueByOrderLastMonth)"></i>
                                <label class="size-h1 mg_left_10">{{ (data.revenueByOrderThisMonth) |
                                    bigNumber }} </label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.supervisor.last.month' | translate }} <label class="size-h3">{{
                                (data.revenueByOrderLastMonth ) |
                                bigNumber }} </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-orange">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">{{ 'homepage.supervisor.output' | translate }} / {{
                                'homepage.supervisor.purchase.order' | translate }}</p>

                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.outputByOrderThisMonth, data.outputByOrderLastMonth)"></i>
                                <label class="size-h1 mg_left_10">{{ data.outputByOrderThisMonth | bigNumber}}</label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.supervisor.last.month' | translate }} <label class="size-h3">{{
                                data.outputByOrderLastMonth | bigNumber }}</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">{{ 'homepage.supervisor.revenue' | translate }}</div>
                        </div>
                        <div class="panel-icon bg-primary">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-justified">
                                <li>
                                    <p class="size-h3 color-primary pull-right">{{ data.revenueThisMonth | bigNumber
                                        }}</p>

                                    <p class="text-muted">&nbsp;</p>
                                </li>
                                <li>
                                    <p class="size-h2 color-warning">&nbsp;</p>

                                    <p class="size-h4 pull-left">{{ data.revenueTargetThisMonth | bigNumber }}</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">{{ 'homepage.supervisor.output' | translate }}</div>
                        </div>
                        <div class="panel-icon bg-twitter">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-justified">
                                <li>
                                    <p class="size-h3 color-twitter pull-right">{{ data.outputThisMonth | bigNumber
                                        }}</p>

                                    <p class="text-muted">&nbsp;</p>
                                </li>
                                <li>
                                    <p class="size-h2 color-warning">&nbsp;</p>

                                    <p class="size-h4 pull-left">{{ data.outputTargetThisMonth | bigNumber }}</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">
                                {{ 'homepage.supervisor.worst.five.salesman' | translate }}
                            </div>
                        </div>
                        <div class="panel-icon bg-danger">
                            <i class="fa fa-exclamation"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-group text-left">
                                <li class="list-group-item" ng-repeat="salesman in data.worst5salesmen">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <p class="size-h4">{{salesman.salesman.fullname}}</p>
                                            <progressbar max="salesman.result.plan" value="salesman.result.actual"
                                                         class="vt-progressbar" type="danger">
                                                <span>{{salesman.result.actual | number:0}} / {{salesman.result.plan | number:0}}</span>
                                            </progressbar>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="badge bg-reverse color-gray-light size-h3 pull-right"
                                                  style="line-height: 40px !important">{{salesman.result.percentage}}%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">
                                {{ 'homepage.supervisor.top.five.product' | translate }}
                            </div>
                        </div>
                        <div class="panel-icon bg-warning">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-group text-left">
                                <li class="list-group-item" ng-repeat="product in data.top5products">
                                    <div class="row" style="height: 46px; position: relative;">
                                        <div class="col-xs-8" style="position: absolute; bottom: 0;">
                                            <p class="size-h4 product-name">{{product.product}}</p>
                                        </div>

                                        <div class="col-xs-4" style="position: absolute; bottom: 0; right: 0;">
                                            <span class="badge badge-warning size-h4  pull-right">{{ product.output | bigNumber }}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="dashboard-right col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-bg-violet">
                    <p class="size-h4 mg_0 pull-left">{{ 'homepage.supervisor.today' | translate }}</p>

                    <p class="size-h4 mg_0 pull-right">{{ today() }}</p>

                    <div class="clear"></div>
                </div>
                <div class="panel-body">
                    <div class="mini-box">
                        <span class="box-icon bg-primary">
                            <i class="fa fa-dollar"></i>
                        </span>

                        <div class="box-info">
                            <p class="size-h2"> {{ data.revenueToday | bigNumber}} </p>

                            <p class="text-muted">{{ 'homepage.supervisor.revenue' | translate }}</p>
                        </div>
                    </div>
                    <div class="mini-box">
                        <span class="box-icon bg-twitter">
                            <i class="fa fa-cubes"></i>
                        </span>

                        <div class="box-info">
                            <p class="size-h2">{{ data.outputToday | bigNumber }}</p>

                            <p class="text-muted"> {{ 'homepage.supervisor.output' | translate }} </p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge color-gray">{{ data.numberVisit }}</span>

                            <p>{{ 'homepage.supervisor.visit.finished' | translate }}</p>
                            <i class="fa fa-thumbs-o-up color-gray"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-success">{{ data.numberVisitHasOrder }}</span>

                            <p>{{ 'homepage.supervisor.visit.has.po' | translate }}</p>
                            <i class="fa fa-truck color-success"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-info">{{ data.numberOrderNoVisit }}</span>

                            <p>{{ 'homepage.supervisor.po.no.visit' | translate }}</p>
                            <i class="fa fa-hand-o-right color-info"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-danger">{{ data.numberVisitErrorTime }}</span>

                            <p>{{ 'homepage.supervisor.visit.error.time' | translate }}</p>
                            <i class="fa fa-clock-o color-danger"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
