<div class="page page-table ng-scope">
    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-12 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'back' | translate }}-->
            </button>

            <button type="button" class="btn btn-default" ng-click="printReport()">
                <span class="fa fa-print"></span>
                <!--{{ 'report.salesman.sale.monthly.detail.print' | translate }}-->
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="report" class="padding-default">
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <h3>{{ 'report.salesman.sale.monthly.detail.title' | translate }}</h3>
                    <h4>{{ getMonthDisplay() }}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <table class="table table-bordered table-striped table-responsive table-middle">
                        <thead>
                        <tr>
                            <th rowspan="2">
                                {{ 'report.salesman.sale.monthly.detail.salesman' | translate}}
                            </th>
                            <th rowspan="2" class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.number.customer' | translate }}
                            </th>
                            <th colspan="3" class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.revenue' | translate }}
                            </th>
                            <th colspan="3" class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.output' | translate }}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.plan' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.actual' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.percentage' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.plan' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.actual' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.salesman.sale.monthly.detail.percentage' | translate}}
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="record in records">
                            <td class="text-left">
                                {{ record.salesman }}
                            </td>
                            <td class="text-right">
                                {{ record.numberCustomer }}
                            </td>
                            <td class="text-right">
                                {{ record.revenue.plan | number:0 }}
                            </td>
                            <td class="text-right">
                                {{ record.revenue.actual | number:0 }}
                            </td>
                            <td class="text-right">
                                {{ record.revenue.percentage | number:0 }} %
                            </td>
                            <td class="text-right">
                                {{ record.output.plan | number:0 }}
                            </td>
                            <td class="text-right">
                                {{ record.output.actual | number:0 }}
                            </td>
                            <td class="text-right">
                                {{ record.output.percentage | number:0 }} %
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
