<div class="modal-header">
    <h3 class="modal-title"> {{ 'target.title' | translate }} </h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2" />
    </div>
    <form name="form">
        <div class="form-group" ng-if="action != 'edit'">
            <label> {{ 'target.salesman' | translate }} * </label>
            <ui-select ng-model="record.salesmanId" required>
                <ui-select-match placeholder="--">{{$select.selected.fullname}}</ui-select-match>
                <ui-select-choices repeat="data.id as data in salesmen | propsFilter: {username: $select.search, fullname: $select.search}">
                    <div> {{ data.fullname }} </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <h4 ng-if="action == 'edit'" class="text-right"> {{ 'target.salesman' | translate }}: {{ record.salesman.fullname }} </h4>
        <div class="form-group">
            <label> {{ 'target.revenue' | translate }} </label>
            <input class="form-control" ng-model="record.revenue" fcsa-number="{ min: 0 }" required/>
        </div>
        <div class="form-group">
            <label> {{ 'target.output' | translate }} </label>
            <input class="form-control" ng-model="record.output" fcsa-number="{ min: 0 }" required/>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()"> {{ 'ok' | translate }} </button>
    <button class="btn btn-warning" ng-click="cancel()"> {{ 'cancel' | translate }} </button>
</div>
