<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;"
           ng-click="tableCtrl.refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ 'target.title' | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button type="button" class="btn btn-primary" ng-click="tableCtrl.createRecord()">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <label> {{ 'target.month' | translate }} </label>

                    <p class="input-group" style="margin: 0px">
                        <input type="text" class="form-control" datepicker-mode="'month'" datepicker-popup="MM-yyyy"
                               ng-model="currentMonth.date" is-open="currentMonth.opened"
                               datepicker-options="{startingDay: 1 , minMode:'month'}" ng-change="search()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, currentMonth)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hr class="no-margin">
            </div>
        </div>

        <table class="table table-middle">
            <thead>
            <tr>
                <td>
                    {{ 'salesman' | translate}}
                </td>
                <td class="text-right">
                    {{ 'target.revenue' | translate}}
                </td>
                <td class="text-right">
                    {{ 'target.output' | translate}}
                </td>
                <td style="width: 100px">
                    <!--{{ 'action' | translate }}-->
                </td>
            </tr>
            </thead>

            <tbody ng-if="tableCtrl.records.length > 0">
            <tr ng-repeat="record in tableCtrl.records">
                <td>
                    {{ record.salesman.fullname }}
                </td>
                <td class="text-right">
                    {{ record.revenue | number:0 }}
                </td>
                <td class="text-right">
                    {{ record.output | number:0 }}
                </td>
                <td style="text-align: center">
                    <button class="btn btn-danger btn-icon-xs" ng-click="tableCtrl.deleteRecord(record)">
                        <span class="fa fa-remove"></span>
                    </button>

                    <button class="btn btn-info btn-icon-xs" ng-click="tableCtrl.editRecord(record)">
                        <span class="fa fa-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="tableCtrl.records.length == 0">
            <tr>
                <td colspan="7">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true" total-items="totalItems" max-size="maxSize"
                                items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="tableCtrl.pageChanged()" style="float: right"></pagination>
                </div>
            </div>
        </footer>

    </section>
</div>
