<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro" style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="search()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">

        <div class="padding-default no-bottom" ng-if="distributors.length == 0">
            <div class="row">
                <div class="col-sm-6">
                    <strong style="line-height: 34px;"> {{ 'visit.schedule.no.distributor' | translate }} </strong>
                </div>
            </div>
            <br/>
        </div>

        <div class="padding-default no-bottom" ng-if="distributors.length > 0">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <label> {{ 'visit.schedule.distributor' | translate }} </label>
                    <ui-select ng-model="global.currentDistributorId" on-select="reloadSchedule($item)" ng-disabled="global.editingMode">
                        <ui-select-match placeholder="--">{{$select.selected.code}} - {{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="data.id as data in distributors | propsFilter: {name: $select.search, code: $select.search}">
                            <div> {{ data.name }} </div>
                            <small>
                                {{'code' | translate}}:
                            </small>
                            <small> {{ data.code }} </small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-8 col-sm-6 col-xs 12">
                    <label class="switch no-select" style="margin: 0px; height: 30px; float: right;">
                        <input type="checkbox" checked ng-model="global.editingMode" ng-change="modeChange()">
                        <i></i>
                    </label>
                    <label style="margin: 0px 15px 0px 0px; line-height: 30px; float: right;">
                        {{ 'visit.schedule.editing.mode' | translate }}:
                    </label>
                </div>
            </div>
        </div>

        <div class="padding-default no-bottom"
             ng-if="distributors.length > 0
             && (tableCtrl.records == null || tableCtrl.records.length == 0)
             && global.currentSalesmanId == null
             && (global.searchText == null || global.searchText.length == 0)">
            <div class="row">
                <div class="col-sm-6">
                    <strong style="line-height: 34px;"> {{ 'visit.schedule.no.customer' | translate }} </strong>
                </div>
            </div>
            <br/>
        </div>

        <div class="padding-default no-select" ng-if="distributors.length > 0 && tableCtrl.records.length > 0
            || global.currentSalesmanId != null
            || (global.searchText != null && global.searchText.length > 0)">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-responsive table-middle"
                           style="background-color: transparent; border: 0px;">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center; border: 0px;">
                                <vt-search-box ng-model="global.searchText" ng-change="search()"
                                               vt-place-holder="{{ 'visit.schedule.search.customer' | translate }}"
                                               style="display: block; margin-bottom: 10px; margin-right: 5px;"
                                               ng-disabled="global.editingMode"></vt-search-box>
                            </th>
                            <th style="vertical-align: middle; text-align: center; width: 200px;  border: 0px;">
                                <ui-select ng-model="global.currentSalesmanId" on-select="tableCtrl.refresh()" ng-disabled="global.editingMode"
                                           style="margin-bottom: 10px; margin-left: 5px;">
                                    <ui-select-match placeholder="--">{{ $select.selected.fullname }}</ui-select-match>
                                    <ui-select-choices repeat="data.id as data in salesmenFilter | propsFilter: { fullname: $select.search }">
                                        <div> {{ data.fullname }} </div>
                                    </ui-select-choices>
                                </ui-select>
                            </th>
                            <th ng-attr-colspan="{{ 7 + numberWeekFrequency + 1 }}" style="border: 0px;">
                                <div style="margin-bottom: 10px; text-align: right;">
                                    <button type="button" class="btn btn-danger" ng-click="search()" ng-show="global.isChanged">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                    <button type="button" class="btn btn-success" ng-click="save()" ng-show="global.isChanged">
                                        <span class="fa fa-floppy-o"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th rowspan="3" style="vertical-align: middle; text-align: center;">
                                {{ 'visit.schedule.customer' | translate}}
                            </th>
                            <th rowspan="3" style="vertical-align: middle; text-align: center;">
                                {{ 'visit.schedule.salesman' | translate}}
                            </th>
                            <th ng-attr-colspan="{{ 7 + numberWeekFrequency + 1 }}" style="vertical-align: middle; text-align: center;">
                                {{ 'visit.schedule' | translate}}
                            </th>
                        </tr>
                        <tr>
                            <th colspan="7" style="vertical-align: middle; text-align: center;">
                                {{ 'visit.schedule.days' | translate }}
                            </th>
                            <th ng-attr-colspan="{{numberWeekFrequency}}" style="vertical-align: middle; text-align: center; background-color: #f3f3f3;">
                                {{ 'visit.schedule.week.frequency' | translate }}
                            </th>
                            <th rowspan="2" style="width: 65px;"></th>
                        </tr>
                        <tr>
                            <td style="width: 41px;">
                                {{ 'T2' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'T3' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'T4' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'T5' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'T6' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'T7' | translate}}
                            </td>
                            <td style="width: 41px;">
                                {{ 'CN' | translate}}
                            </td>
                            <td ng-repeat="week in weeks" style="width: 41px; background-color: #f3f3f3;">
                                {{ week.label }}
                            </td>
                        </tr>

                        </thead>

                        <tbody>
                            <tr ng-repeat="customerSchedule in tableCtrl.records">
                                <td style="vertical-align: baseline;">
                                    {{ customerSchedule.name }}
                                </td>
                                <td style="vertical-align: baseline;">
                                    <ui-select ng-model="customerSchedule.salesmanId" on-select="markAsChanged()" ng-disabled="!global.editingMode">
                                        <ui-select-match placeholder="--">{{ $select.selected.fullname }}</ui-select-match>
                                        <ui-select-choices repeat="data.id as data in salesmen | propsFilter: { fullname: $select.search }">
                                            <div> {{ data.fullname }} </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isMonday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isTuesday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isWednesday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isThursday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isFriday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isSaturday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.isSunday" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!--week-->
                                <td style="padding: 0px; background-color: #f3f3f3;" ng-repeat="week in weeks">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <vt-checkbox ng-model="item.weekFrequencys[week.index].selected" ng-change="markAsChanged()" ng-disabled="!global.editingMode"></vt-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding: 0px;">
                                    <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                        <tr ng-repeat="item in customerSchedule.items">
                                            <td ng-class="{borderless: $first}">
                                                <button class="btn btn-danger btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                        ng-click="clearCustomerScheduleItem(customerSchedule, item)"
                                                        ng-disabled="!global.editingMode">
                                                    <span class="fa fa-remove"></span>
                                                </button>
                                                <button class="btn btn-success btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                        ng-click="addNewItem(customerSchedule)"
                                                        ng-disabled="!global.editingMode">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <footer class="table-footer" ng-hide="global.editingMode">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                            </div>
                            <div class="col-md-6 text-right pagination-container">
                                <pagination class="pagination" boundary-links="true"
                                            total-items="global.totalItems"
                                            max-size="global.maxSize"
                                            items-per-page="global.itemsPerPage"
                                            ng-model="global.currentPage"
                                            class="pagination-sm"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            first-text="&laquo;"
                                            last-text="&raquo;"
                                            ng-change="tableCtrl.pageChanged()"
                                            style="float: right"></pagination>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

    </section>

</div>
