<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px; height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ 'visit.tracking.title' | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default table-dynamic" ng-hide="distributors.length > 0">
        <div class="padding-default">
            <div class="row">
                <div class="col-sm-6">
                    <strong style="line-height: 34px;">{{ 'distributor.empty' | translate }}</strong>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-show="distributors.length > 0">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label> {{ 'visit.tracking.distibutor' | translate }} </label>
                        <ui-select ng-model="global.currentDistributorId" on-select="onDistributorSelected($item)">
                            <ui-select-match placeholder="--">{{$select.selected.code}} - {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="data.id as data in distributors | propsFilter: {name: $select.search, code: $select.search}">
                                <div> {{ data.name }} </div>
                                <small>
                                    {{'code' | translate}}:
                                </small>
                                <small> {{ data.code }} </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label> {{ 'visit.tracking.salesman' | translate }} </label>
                        <ui-select ng-model="global.currentSalesmanId" on-select="onSalesmanSelected($item)"
                                   ng-disabled="hasDistributor()">
                            <ui-select-match placeholder="--">{{ $select.selected.fullname }}</ui-select-match>
                            <ui-select-choices
                                    repeat="data.id as data in salesmen | propsFilter: { fullname: $select.search }">
                                <div> {{ data.fullname }} </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-12 col-xs-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events" bounds="map.bounds">
                            <ui-gmap-markers models="points" coords="'self'" icon="'icon'" click="onClick" fit="true">
                            </ui-gmap-markers>
                            <ui-gmap-window coords="currentPoint.coords" show="currentPoint != null">
                                <div>
                                    <div ng-if="!isUndefinedOrNull(currentPoint.photoUrl)" style="width: 150px; height: 100px; float: left" >
                                        <img ng-src="{{ currentPoint.photoUrl }}" style="width: 150px; height: 100px">
                                    </div>
                                    <div style="float: right; padding-left: 10px">
                                        <strong>{{ currentPoint.customer.name }}</strong><br />
                                        {{ currentPoint.customer.address }}<br />
                                        <span ng-if="!isUndefinedOrNull(currentPoint.customer.mobile)">{{ 'customer.phone' | translate }}: {{ currentPoint.customer.mobile }}</span>
                                    </div>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
