<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'admin.sales.report.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="padding-default">
            <form name="form">
                <div style="max-width: 600px; margin: auto;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'admin.sales.report.month' | translate }} * </label>
                                <p class="input-group" style="margin: 0px">
                                    <input type="text" class="form-control" datepicker-mode="'month'"
                                           datepicker-popup="MM-yyyy" ng-model="global.currentMonth.date"
                                           is-open="global.currentMonth.opened"
                                           datepicker-options="{startingDay: 1 , minMode:'month'}" ng-change="search()"
                                           required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="open($event, global.currentMonth)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'admin.sales.report.type' | translate }} </label>
                                <div>
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="global.reportType" value="daily">
                                        <span> {{ 'admin.sales.report.daily' | translate }} </span>
                                    </label>
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="global.reportType" value="distributor">
                                        <span> {{ 'admin.sales.report.by.distributor' | translate }} </span>
                                    </label>
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="global.reportType" value="product">
                                        <span> {{ 'admin.sales.report.by.product' | translate }} </span>
                                    </label>
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="global.reportType" value="salesman">
                                        <span> {{ 'admin.sales.report.by.salesman' | translate }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group" ng-if="global.reportType == 'product'">
                                <label> {{ 'admin.sales.report.product.category' | translate }} * </label>
                                <ui-select ng-model="global.productCategoryId" required>
                                    <ui-select-match placeholder="--">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="data.id as data in productCategories | propsFilter: { name: $select.search }">
                                        <div>{{ data.name }}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group" ng-if="global.reportType == 'salesman'">
                                <label> {{ 'admin.sales.report.salesman' | translate }} </label>
                                <ui-select ng-model="global.salesmanId">
                                    <ui-select-match placeholder="--">{{ $select.selected.fullname }}</ui-select-match>
                                    <ui-select-choices
                                            repeat="data.id as data in salesmen | propsFilter: { fullname: $select.search }">
                                        <div> {{ data.fullname }} </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" ng-click="report()" style="float: right;">
                                <span class="fa fa-line-chart"></span>
                                {{ 'admin.sales.report.report' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
