<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro" style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="tableCtrl.refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong>{{ title | translate }}</strong></div>

        <div class="padding-default">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <vt-search-box ng-model="searchText" ng-change="search()" vt-place-holder="{{ 'search' | translate }}"></vt-search-box>
                </div>

                <div class="col-xs-12 visible-xs">
                    <br/>
                </div>

                <div class="col-sm-6 col-xs-12" style="text-align: right;">
                    <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>

                    <button type="button" class="btn btn-primary" ng-click="tableCtrl.createRecord()" ng-if="!isApproveView">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="padding-default">
            <table class="table table-bordered table-striped table-responsive table-middle">
                <thead>
                <tr>
                    <td style="width: 38px">
                        <vt-checkbox-tri-state ng-model="tableCtrl.selectAllStatus" ng-change="tableCtrl.selectAllClick()"></vt-checkbox-tri-state>
                    </td>
                    <td>
                        {{ 'name' | translate}}
                    </td>
                    <td>
                        {{ 'code' | translate }}
                    </td>
                    <td class="visible-lg visible-md visible-sm">
                        {{ 'address' | translate }}
                    </td>
                    <td class="visible-lg visible-md visible-sm">
                        {{ 'customer.type' | translate }}
                    </td>
                    <td style="width: 100px">
                        {{ 'action' | translate }}
                    </td>
                </tr>
                </thead>

                <tbody ng-if="tableCtrl.records.length > 0">
                <tr ng-repeat="record in tableCtrl.records">
                    <td>
                        <vt-checkbox ng-model="record.selected" ng-change="tableCtrl.updateSelectAllStatus()"></vt-checkbox>
                    </td>
                    <td>
                        {{ record.name }}
                    </td>
                    <td>
                        {{ record.code }}
                    </td>
                    <td class="visible-lg visible-md visible-sm">
                        {{ record.address }}
                    </td>
                    <td class="visible-lg visible-md visible-sm">
                        {{ record.customerType.name }}
                    </td>
                    <td style="text-align: center">
                        <button class="btn btn-danger btn-icon-xs" ng-click="tableCtrl.deleteRecord(record)">
                            <span class="fa fa-remove"></span>
                        </button>

                        <button class="btn btn-info btn-icon-xs" ng-click="tableCtrl.editRecord(record)">
                            <span class="fa fa-pencil"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="tableCtrl.records.length == 0">
                    <tr>
                        <td colspan="6">
                            {{ 'no.data' | translate }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination" boundary-links="true" total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="tableCtrl.pageChanged()" style="float: right"></pagination>
                    </div>
                </div>
            </footer>
        </div>

    </section>
</div>
