<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px, height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button class="btn btn-primary" ng-click="ok(true)" ng-if="(isDraft() && isEdit()) || (isNew() && isChanged)">
                <span class="fa fa-check"></span>
            </button>

            <button class="btn btn-success" ng-click="ok()" ng-show="isChanged">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'name' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.name" ng-change="markAsChanged()"
                                   ng-readonly="!isDraft()" ng-maxlength="30" required autofocus>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'code' | translate }} </label>
                            <input type="text" class="form-control" ng-model="record.code" ng-change="markAsChanged()"
                                   ng-readonly="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'address' | translate }} </label>
                            <input type="text" class="form-control" ng-model="record.address" ng-change="markAsChanged()"
                                   ng-maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'supervisor' | translate }} </label>
                            <ui-select ng-model="record.supervisorId" on-select="markAsChanged()" required>
                                <ui-select-match placeholder="--"> {{$select.selected.username}} </ui-select-match>
                                <ui-select-choices repeat="data.id as data in supervisors | propsFilter: {username: $select.search, fullname: $select.search}">
                                    <div> {{ data.username }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="!isDraft()">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label> {{ 'salesman' | translate }} </label>
                            <ui-select multiple ng-model="record.salesmanIds" theme="bootstrap"
                                       on-select="markAsChanged()" on-remove="markAsChanged()">
                                <ui-select-match placeholder="{{ 'select.salesman' | translate }}"> {{ $item.username }} - {{ $item.fullname }} </ui-select-match>
                                <ui-select-choices repeat="salesman.id as salesman in salesmen | propsFilter: {username: $select.search, fullname: $select.search}">
                                    <div> {{ (salesman.username + ' - ' + salesman.fullname) }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
