<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px, height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button class="btn btn-primary" ng-click="ok(true)" ng-if="(isDraft() && isEdit()) || (isNew() && isChanged)">
                <span class="fa fa-check"></span>
            </button>

            <button class="btn btn-success" ng-click="ok()" ng-show="isChanged">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'product.photo' | translate }} * </label>
                            <vt-image-single-thumbnail ng-model="record.photo" size-type="standard"
                                                       ng-change="markAsChanged()" required>
                            </vt-image-single-thumbnail>
                        </div>
                    </div>

                    <div class="col-sm-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label> {{ 'code' | translate }} * </label>
                                    <input type="text" class="form-control" ng-model="record.code"
                                           ng-change="markAsChanged()" ng-maxlength="10" ng-pattern="/^\S+$/" required autofocus
                                           ng-readonly="!isDraft()"/>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label> {{ 'name' | translate }} * </label>
                                    <input type="text" class="form-control" ng-model="record.name"
                                           ng-change="markAsChanged()" ng-maxlength="30" required
                                           ng-readonly="!isDraft()"/>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-if="isDraft()">
                                    <label> {{ 'product.product.category' | translate }} * </label>
                                    <ui-select ng-model="record.productCategoryId" on-select="markAsChanged()" required>
                                        <ui-select-match placeholder="--">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="data.id as data in productCategories | propsFilter: { name: $select.search }">
                                            <div> {{data.name}} </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group" ng-if="!isDraft()">
                                    <label> {{ 'product.product.category' | translate }} </label>
                                    <input type="text" class="form-control" ng-model="record.productCategory.name"
                                           ng-readonly="true"/>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group" ng-if="isDraft()">
                                    <label> {{ 'product.uom' | translate }} * </label>
                                    <ui-select ng-model="record.uomId" on-select="markAsChanged()" required>
                                        <ui-select-match placeholder="--">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="data.id as data in uoms | propsFilter: { name: $select.search }">
                                            <div> {{data.name }} </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group" ng-if="!isDraft()">
                                    <label> {{ 'product.uom' | translate }} </label>
                                    <input type="text" class="form-control" ng-model="record.uom.name"
                                           ng-readonly="true"/>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label> {{ 'product.price' | translate }} * </label>
                                    <input class="form-control" ng-model="record.price"
                                           fcsa-number="{ min: 1, max: 1000000000, maxDecimals: 0}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label> {{ 'product.output' | translate }} * </label>
                                    <input class="form-control" ng-model="record.output"
                                           fcsa-number="{ min: 1, max: 1000000, maxDecimals: 2}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label> {{ 'product.description' | translate }} </label>
                                    <textarea name="" id="" class="form-control" rows="4" ng-model="record.description" ng-change="markAsChanged()"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--BUTTON BAR APPEAR ONLY WHEN XS-->
        <div class="padding-default no-top visible-xs">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="text-align: right;">
                    <button class="btn btn-warning" ng-click="cancel()">
                        <span class="fa fa-arrow-left"></span>
                    </button>

                    <button type="button" class="btn btn-info" ng-click="refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>

                    <button class="btn btn-success" ng-click="ok()" ng-show="isChanged">
                        <span class="fa fa-save"></span>
                    </button>
                </div>
            </div>
        </div>

    </section>
</div>
