<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2" />
    </div>
    <form name="form">
        <div class="table-dynamic" style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">
            <table class="table table-bordered table-responsive table-middle" style="margin: 0px;">
                <thead>
                <tr>
                    <th colspan="2" class="text-center" style="width: 50%">
                        {{ 'promotion.type.condition' | translate }}
                    </th>
                    <th colspan="{{getNumberRewardColumn()}}" class="text-center" style="width: 50%">
                        {{ 'promotion.type.reward' | translate }}
                    </th>
                </tr>
                <tr>
                    <td style="width: 25%">
                        {{ 'promotion.type.condition.product' | translate }}
                    </td>
                    <td style="width: 25%">
                        {{ 'promotion.type.condition.quantity' | translate }}
                    </td>
                    <td ng-if="isDisplayRewardProduct()" style="width: 35%">
                        {{ 'promotion.type.reward.product' | translate }}
                    </td>
                    <td ng-if="isDisplayRewardQuantity()" style="width: 15%">
                        {{ 'promotion.type.reward.quantity' | translate }}
                    </td>
                    <td class="text-center" ng-if="isDisplayRewardPercentage()">
                        %
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="detail in details">
                    <td>
                        <div><b>{{'code' | translate}}:</b> {{ detail.condition.product.code }}</div>
                        <div>{{ detail.condition.product.name }}</div>
                    </td>
                    <td>
                        <input class="form-control" ng-model="detail.condition.quantity"
                               fcsa-number="{ min: 1, max: 1000000, maxDecimals: 0}"
                               ng-change="markAsChanged()"/>
                    </td>
                    <td ng-if="isDisplayRewardProduct()">
                        <ui-select ng-model="detail.reward.product.id" on-select="markAsChanged()" required ng-if="isUse(detail)">
                            <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                            <ui-select-choices repeat="data.id as data in products | propsFilter: { name: $select.search, code: $select.search }">
                                <div> {{ data.name }} </div>
                                <small>
                                    {{'code' | translate}}:
                                </small>
                                <small> {{ data.code }} </small>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td ng-if="isDisplayRewardQuantity()">
                        <input class="form-control" ng-model="detail.reward.quantity"
                               fcsa-number="{ min: 1, max: 1000000, maxDecimals: 0}"
                               required ng-change="markAsChanged()" ng-if="isUse(detail)"/>
                    </td>
                    <td ng-if="isDisplayRewardPercentage()">
                        <input class="form-control" ng-model="detail.reward.percentage"
                               fcsa-number="{ min: 1, max: 100, maxDecimals: 2}"
                               required ng-change="markAsChanged()" ng-if="isUse(detail)"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
