<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"/>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-success" ng-click="save()" ng-show="isChanged">
                <span class="fa fa-floppy-o"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="my-container">
            <div class="padding-default">
                <form name="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'sales.config.visit.duration.kpi.minute' | translate }} * </label>
                                <input class="form-control" ng-model="record.visitDurationKPI"
                                       fcsa-number="{ min: 1, maxDecimals: 0}"
                                       required ng-change="markAsChanged()"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'sales.config.visit.distance.kpi.km' | translate }} * </label>
                                <input class="form-control" ng-model="record.visitDistanceKPI"
                                       fcsa-number="{ min: 0.1, maxDecimals: 2}"
                                       required ng-change="markAsChanged()"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'sales.config.meet.req.rate' | translate }} * </label>
                                <input class="form-control" ng-model="record.meetReqRate"
                                       fcsa-number="{ min: 1, maxDecimals: 2}"
                                       required ng-change="markAsChanged()"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

</div>
