<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2" />
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro" style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button class="btn btn-primary" ng-click="ok(true)" ng-if="(isDraft() && isEdit()) || (isNew() && isChanged)">
                <span class="fa fa-check"></span>
            </button>

            <button class="btn btn-success" ng-click="ok()" ng-show="isChanged">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label> {{ 'name' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.name" ng-change="markAsChanged()"
                                   required autofocus ng-readonly="!isDraft()"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'survey.start.date' | translate }} * </label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                                       ng-model="record.startDate.date" is-open="record.startDate.opened"
                                       datepicker-options="{startingDay: 1}" ng-required="true" ng-readonly="!isDraft()"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, record.startDate)"
                                            ng-disabled="!isDraft()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'survey.end.date' | translate }} * </label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                                       ng-model="record.endDate.date" is-open="record.endDate.opened"
                                       datepicker-options="{startingDay: 1}" ng-required="true" ng-readonly="!isDraft()"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, record.endDate)"
                                            ng-disabled="!isDraft()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered table-responsive table-middle">
                            <thead>
                            <tr>
                                <td>
                                    <strong> {{ 'survey.question' | translate }} </strong>
                                </td>
                                <td style="width: 38px;" ng-if="isDraft()">
                                    <button class="btn btn-primary btn-icon-xs" ng-click="createQuestion()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="question in record.questions">
                                <td>
                                    <strong> {{ question.name }} </strong>
                                    <ol>
                                        <li ng-repeat="option in question.options">
                                            {{ option.name }}
                                        </li>
                                    </ol>
                                </td>
                                <td style="width: 38px;" ng-if="isDraft()">
                                    <button class="btn btn-info btn-icon-xs" style="margin-bottom: 5px;" ng-click="editQuestion(question)">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon-xs" ng-click="deleteQuestion(question)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </section>

</div>
