<div class="modal-header">
    <h3 class="modal-title">{{ title | translate }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2" />
    </div>
    <form name="form">
        <div class="form-group">
            <label> {{ 'username' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.username" ng-maxlength="30" required autofocus ng-readonly="!isDraft()">
        </div>

        <div class="form-group">
            <label> {{ 'fullname' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.fullname" ng-maxlength="30" required ng-readonly="!isDraft()">
        </div>

        <div class="form-group" ng-if="isDraft()">
            <label> {{ 'role' | translate }} </label>
            <ui-select ng-model="record.role" required>
                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                <ui-select-choices repeat="role.code as role in roles | propsFilter: { name: $select.search }">
                    <div> {{ role.name }} </div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" ng-if="!isDraft()">
            <label> {{ 'role' | translate }}: {{ getRoleDisplay()}} </label>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-info pull-left" ng-click="resetPassword()" ng-show="action=='edit'">
        {{ 'reset.password' |  translate }}
    </button>

    <button class="btn btn-primary" ng-click="enable()" ng-if="record.draft || action == 'new'">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-success" ng-click="ok()" ng-if="record.draft || action == 'new'">
        <span class="fa fa-save"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
